/*.content-body .row{
    justify-content:center;
}


td {
    text-align: center;
}*/
/*.shadow-sm {
    box-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 50%) !important;
}
.text-warning {
    color: #a83838 !important;
}

span .select2 {
    width: 100%;
}
*/
