@model VmRegister
@{
    ViewData["Title"] = "RoleCreate";
    Layout = "~/Areas/admin/Views/Shared/_Layout.cshtml";
}




    <div class="login-form-bg h-100">
        <div class="container h-100">
            <div class="row justify-content-center h-100">
                <div class="col-xl-6">
                    <div class="form-input-content">
                        <div class="card login-form mb-0">
                            <div class="card-body pt-5">

                                <div class="image" style="background: #181515bd; border-radius: 10px; padding-left: 165px; height: 86px; padding-top: 12px;"> 
                                    <img src="~/assets/img/Logo/logo-foot.png" alt="" />
                                </div>
                                <div class="text text-danger" asp-validation-summary="All"></div>
                                <form class="mt-5 mb-5 login-input" asp-controller="Account" asp-action="Register" method="post">
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Name" asp-for="Name" required autofocus />
                                        <span class="text-danger" asp-validation-for="Name"></span>
                                    </div>
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="SurName" asp-for="Surname" required>
                                        <span class="text-danger" asp-validation-for="Surname"></span>
                                    </div>
                                    <div class="form-group">
                                        <input type="email" class="form-control" placeholder="Email" asp-for="Email" required>
                                        <span class="text-danger" asp-validation-for="Email"></span>
                                    </div>
                                    <div class="form-group">
                                        <input type="password" class="form-control" placeholder="Password" asp-for="Password" required>
                                        <span class="text-danger" asp-validation-for="Password"></span>
                                    </div>
                                    <button class="btn login-form__btn submit w-100">Sign in</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>






