@model List<CauseGallery>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/admin/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <a class="btn btn-whatsapp mb-3" asp-area="admin" asp-controller="CauseGallery" asp-action="Create">Create</a>
        </div>
        <div class="col-lg-12">
            <table class="table">
                <thead style="text-align:center;">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Image</th>
                        <th scope="col">Selected Causes</th>
                        <th scope="col"><i class="icon-note menu-icon"></i></th>
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 1; i < Model.Count + 1; i++)
                    {
                    <tr >
                        <th scope="row" style="vertical-align:middle; text-align:center;">@i</th>
                        <td style="text-align:center;"><img src="~/Uploads/@Model[i - 1].Image" style="width: 100px" alt="Alternate Text" /></td>
                        <td style="text-align:center;">@Model[i - 1].Cause.Title</td>
                        <td style="text-align: center;">
                            <a class="btn btn-warning" asp-area="admin" asp-controller="CauseGallery" asp-action="Update" asp-route-id="@Model[i - 1].Id"><i class="fas fa-edit"></i></a>
                            <a class="btn btn-danger" asp-area="admin" asp-controller="CauseGallery" asp-action="Delete" asp-route-id="@Model[i - 1].Id" onclick="return confirm('Are you sure?')"><i class="fas fa-trash-alt"></i></a>
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>